.column {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 500px;
    height: 100%;
    background-color: var(--onity-color-bg);
    border-radius: 12px;
    width: 300px;
    display: flex;
    flex-direction: column;
    max-height: 85vh;
    min-height: 100px;
  }
  
  .columnHeader {
    padding: 16px;
    border-bottom: 1px solid var(--onity-color-border);
    background-color: var(--onity-color-surface);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.columnInfo {
    margin-top: 8px;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    color: var(--onity-color-text);
}

.columnCard{
    margin-right: 5px;
}

.columnBody {
    overflow-y: auto;
    padding: 10px;
    flex-grow: 1;
    max-height: calc(85vh - 100px); /* Ajuste de acordo com altura do header */
}

.propostaColumn{
    border: 2px solid var(--onity-color-warning);
}

.ganhouColumn {
    border: 2px solid var(--onity-color-success);
}

.perdeuColumn {
    border: 2px solid var(--onity-color-error);
}

.propostaTitle {
    color: var(--onity-color-warning); /* amarelo vibrante */
}

.ganhouTitle {
    color: var(--onity-color-success);
}

.perdeuTitle {
    color: var(--onity-color-error);
}
  